In [1]:
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import sklearn.preprocessing
from sklearn import metrics
import acquire
import prepare

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

In [2]:
df = acquire.acquire_military()

In [3]:
df = prepare.prep_military(df)

In [4]:
df

,country,country_code,active_personnel,air_carriers,armored_vehicles,arty,attack_aircraft,avail_manpower,coastal_coverage,corvettes,...,subs,tanker_fleet,tanks,total_pop,trainers,transports,waterways,total_air_strength,total_sea_strength,total_land_strength
0,Afghanistan,AFG,137857,0,530,60,0,14611901,0,0,...,0,0,0,37466414,0,0,1200,0,0,603
1,Albania,ALB,8000,0,76,0,0,1513309,362,0,...,0,0,0,3088385,0,0,41,38,19,76
2,Algeria,ALG,130000,0,6461,995,67,20916812,998,6,...,6,5,2196,43576691,87,58,0,1046,42,9986
3,Angola,ANG,107000,0,1210,613,33,6728529,1600,0,...,0,0,320,33642646,61,30,1300,542,39,2261
4,Argentina,ARG,83000,0,800,247,6,20180574,4989,9,...,2,2,349,45864941,70,22,11000,413,28,1422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,Venezuela,VEN,137500,0,2534,164,10,14534577,2800,0,...,2,1,300,29069153,80,50,7100,478,35,3052
136,Vietnam,VTN,470000,0,4420,649,0,53450591,3444,14,...,6,0,2044,102789598,30,9,17702,360,91,7873
137,Yemen,YEM,45000,0,300,53,14,11551712,1906,2,...,0,0,200,30399243,30,8,0,292,20,603
138,Zambia,ZAM,16500,0,226,42,0,6677236,0,0,...,0,0,75,19077816,51,11,2250,186,0,393
139,Zimbabwe,ZIM,30000,0,318,60,6,5635395,0,0,...,0,0,50,14829988,38,14,0,176,0,451

In [5]:
df = prepare.split_military(df)

Train: 78 rows, 47 cols
Validate: 34 rows, 47 cols
Test: 28 rows, 47 cols

In [6]:
train, validate, test = df

In [7]:
train.shape

(78, 47)

In [8]:
train.head().T

,97,78,21,117,15
country,Philippines,Montenegro,Cameroon,Suriname,Bosnia and Herzegovina
country_code,PHI,MTN,CAM,SUR,BOS
active_personnel,130000,2000,40000,1800,9000
air_carriers,0,0,0,0,0
armored_vehicles,600,100,253,100,332
arty,298,12,77,0,736
attack_aircraft,27,0,0,0,0
avail_manpower,47651880,145,9698220,135245,2371365
coastal_coverage,36289,294,400,386,20
corvettes,1,0,0,0,0
defense_budget,4390000000,74074500,398000000,41888000,178110000
destroyers,0,0,0,0,0
external_debt,81995000000,2516000000,9375000000,1700000000,10870000000
fighters_interceptors,182,11,31,3,19
fit_for_service,39118869,86253,5733359,79917,1969763
gold_foreign_ex,81570000000,1077000000,3235000000,424400000,6474000000
frigates,2,0,0,0,0
helos,103,11,17,3,19
labor_force,41533000,167000,9912000,144000,806000
merch_marine_fleet,1805,17,94,10,0
mine_warfare,0,0,0,0,0
navy_ships,93,13,60,18,0
oil_consumption,424000,6000,45000,13000,32000
oil_production,13000,0,70000,17000,0
oil_reser,138500000,0,200000000,84200000,0
paramilitary,50000,10000,12000,0,0
patrol_vess,50,5,37,16,0
ports,5,1,3,2,5
purchasing_power,871560000000,11500000000,94000000000,9460000000,48000000000
railway_coverage,77,250,987,0,965
mil_age,1994730,3644,456387,3074,49722
res_personnel,100000,0,0,0,0
road_cov,216387,7762,77589,4304,22926
rocket_proj,0,18,20,0,143
shared_borders,0,680,5018,1907,1543
special_mission,9,0,2,0,0
square_land_area,300000,13812,475440,163820,51197
subs,0,0,0,0,0
tanker_fleet,0,0,0,0,0
tanks,18,0,0,0,320
total_pop,110818325,607414,28524175,614749,3824782
trainers,24,0,6,0,0
transports,21,0,6,0,0
waterways,3219,0,0,1200,0
total_air_strength,366,22,62,6,38
total_sea_strength,53,5,37,16,0
total_land_strength,916,130,350,100,1531

In [9]:
numcols = [col for col in train.columns if train[col].dtype !='O']
numcols

['active_personnel',
 'air_carriers',
 'armored_vehicles',
 'arty',
 'attack_aircraft',
 'avail_manpower',
 'coastal_coverage',
 'corvettes',
 'defense_budget',
 'destroyers',
 'external_debt',
 'fighters_interceptors',
 'fit_for_service',
 'gold_foreign_ex',
 'frigates',
 'helos',
 'labor_force',
 'merch_marine_fleet',
 'mine_warfare',
 'navy_ships',
 'oil_consumption',
 'oil_production',
 'oil_reser',
 'paramilitary',
 'patrol_vess',
 'ports',
 'purchasing_power',
 'railway_coverage',
 'mil_age',
 'res_personnel',
 'road_cov',
 'rocket_proj',
 'shared_borders',
 'special_mission',
 'square_land_area',
 'subs',
 'tanker_fleet',
 'tanks',
 'total_pop',
 'trainers',
 'transports',
 'waterways',
 'total_air_strength',
 'total_sea_strength',
 'total_land_strength']